@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index - @ViewContext.RouteData.Values["view"]</h2>
@ViewBag.Pages
<ul>
    @foreach (KeyValuePair<int, Dictionary<int, float>> item in Model.Data)
    {
        <li>UserID: @item.Key</li>
    <ul>
        @foreach (KeyValuePair<int, float> preferences in item.Value)
        {
            <li>Article Id: @preferences.Key - Rating: @preferences.Value</li>
        }
    </ul>
    }
</ul>