@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index - @ViewContext.RouteData.Values["view"]</h2>
@ViewBag.Pages
<ul>
    @foreach (KeyValuePair<int, List<UserPreference>> item in Model.Data)
    {
        <li>UserID: @item.Key</li>
    <ul>
        @foreach (UserPreference preferences in item.Value)
        {
            <li>Article: @((preferences.MovieId == 0) ? preferences.Description : preferences.MovieId.ToString()) - Rating: @preferences.Rating</li>
        }
    </ul>
    }
</ul>