@model EuclideanViewModel

@{
    ViewBag.Title = "Euclidean";
}
@Html.ActionLink("Index", "Index", "Edited")
@Html.ActionLink("Euclidean", "Euclidean", "Edited")
@Html.ActionLink("Pearson", "Pearson", "Edited")
@Html.ActionLink("Cosine", "Cosine", "Edited")
@Html.ActionLink("Predicted Rating", "Predictive", "Edited")


<h2>Euclidean</h2>

@foreach (AlgorithmResultListItem item in Model.Data)
{
    <ul>
        <li>TargetUser: @item.TargetUser</li>
        <li>OtherUser: @item.OtherUser</li>
        <li>Similarity: @item.Similarity</li>
        <li>Number of missing articles for comparison: @item.NotSimilarArticles</li>
    </ul>
}