@model IndexViewModel

@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Index", "Index", "Edited")
@Html.ActionLink("Euclidean", "Euclidean", "Edited")
@Html.ActionLink("Pearson", "Pearson", "Edited")
@Html.ActionLink("Cosine", "Cosine", "Edited")
@Html.ActionLink("Predicted Rating", "Predictive", "Edited")


<h2>Index</h2>
<ul>


    @foreach (KeyValuePair<int, Dictionary<int, float>> item in Model.Data)
    {
        <li>UserID: @item.Key</li>
    <ul>
        @foreach (KeyValuePair<int, float> preferences in item.Value)
        {
            <li>Article Id: @preferences.Key - Rating: @preferences.Value</li>
        }
    </ul>
    }
</ul>