@model PredictiveRatingViewModel
@{
    ViewBag.Title = "Predictive";
}
@Html.ActionLink("Index", "Index", "Edited")
@Html.ActionLink("Euclidean", "Euclidean", "Edited")
@Html.ActionLink("Pearson", "Pearson", "Edited")
@Html.ActionLink("Cosine", "Cosine", "Edited")
@Html.ActionLink("Predicted Rating", "Predictive", "Edited")


<h2>Pearson</h2>

@foreach (KeyValuePair<int, double> item in Model.Data)
{
    <ul>
        <li>ArticleId: @item.Key -- Predicted Rating: @item.Value</li>
    </ul>
}